<?php
return [
    "domain" => "http://localhost/",
    "fb_api_ver" => "v16.0",
    "fb_app_id" => "",
    "fb_app_secret" => "",
    "fb_redirect_uri" => "",
    "fb_permissions" =>"pages_show_list,pages_read_engagement,pages_read_user_content,pages_manage_posts,pages_manage_engagement",

    "eb_api_ver" => "v3",
    "eb_key" => "",
    "eb_secret" => "",
    "eb_prvt_token" => "",
    "eb_pub_token" => "",
    "eb_redirect_uri" => "",

    "mu_api_key" => "",
    "mu_api_secret" => "",
    "mu_redirect_uri" => "",
];